* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* banner container style */
.banner-container {
    align-items: right;
    padding: 216px 230px 360px 840px;
    background-image: url(./images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;


}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    padding-bottom: 24px;

}

.banner-des {
    color: #444343;
    padding-bottom: 53px;

}

.btn-banner {
    padding: 15px;
    background: #F15B22;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    width: 150px;
}

/* failure container style */
.failure-container {
    display: flex;
    align-items: center;
}

.failure-img {
    padding: 131px 87px 130px 206px;
}


.failure-title {
    font-weight: 700;
    font-size: 40px;
    width: 50%;
    padding-bottom: 24px;

}

.failure-des {
    color: #444343;
    padding-bottom: 14px;
    width: 65%;
}

.checkmark {
    color: #444343;
    list-style: url("./images/icons/checkmark\ \(1\).png");
    list-style-position: inside;
}

.list-style {
    padding: 5px;
}

/* plan section style*/
.plan-container {}

.plan-title {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    padding-bottom: 55px;
}

.items {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 50px;
}

.item-title {
    font-weight: 700;
    font-size: 30px;
    padding-top: 24px;
    padding-bottom: 16px;
}

.item-des {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
    padding-bottom: 130px;
    }

/* call now section style */
.call-container {
    height: 300px;
    width: 60%;
    background-image: url(./images/watch.png), linear-gradient( rgba(0,0,0,0),rgba(0,0,0,0)), url(./images/gradient2.png);
    
    background-blend-mode: overlay;
    margin: auto;
    padding: 65px;
    background-repeat: no-repeat;
    border: none;
    border-radius:10px;
    color: #FFFFFF;
}
.call-container-title {
    font-weight: 700;
    font-size: 40px;
    width: 50%;
    padding-bottom: 24px;
}
.btn-call {
    padding: 15px;
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    color: #F15B22;
    font-weight: bold;
    font-size: 20px;
    width: 150px;
}

/* footer section style  */
.footer-container {
    display: flex;
    padding: 130px 230px;
    background-color: #151414;
    color: #FFFFFF;
    justify-content: space-around;
    
    
   
    
}
.info-title {
    font-weight: 700;
    font-size: 45px;
    padding-bottom: 16px;
}
.info-des {
    padding-bottom: 24px;
    width: 60%;
    line-height: 25px;
    
} 
.email {
    padding-bottom: 16px;
}
.phone {
    padding-bottom: 32px;
}
.icon {
    padding-left: 10px;
    
}
.subscribe-title {
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 31px;
    
}
.form {
    height: 50px;
    width: 250px;
    padding-left: 20px;
    color:#FFFFFF;
   margin-bottom: 10px;
    border-width: 1px ;
    border-style:double;
    background-color: #151414;
    border-radius: 8px;
}
.btn-subscribe {
    padding: 15px;
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    color: #F15B22;
    font-weight: bold;
    font-size: 20px;
    width: 150px;
}
